/* ------------- =General -------------- */

html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Karma, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image1" "image2"
    "image3" "image4"
    "image5" "image6"
    "image7" "image8";
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 15em;
}

/* ------------- =card layout -------------- */

ol li {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 18px;
  border: 3px solid #987ffa;
  border-radius: 8px;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
}

/* ------------- =typography -------------- */

h2 {
  color: #6f00e7;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

li :first-child {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: bold;
}

.cart {
  text-decoration: none;
  background-color: #6f00e7;
  box-sizing: border-box;
  padding: .25rem;
  border-radius: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-shrink: 3;
  margin-left: .5rem;
}

span {
  position: relative;
  bottom: 5px;
}

.favourite, .share {
  position: relative;
  top: 8px;
}

.favourite {
  padding-right: .5rem;
  padding-left: 7rem;
}
